.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

content/templates/
artifacts/
# Don't build my work directory src or html pages
content/influential/
public/influential/
